<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head"); %>          <!-- Inclui um EJS externo -->

<body class="container">
    <%- include("../partials/header", {pagina: "Sobre"}); %>            <!-- Passando um objeto na chamada do include -->

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Oi sou Andre Mai Velasco aluno de engenharia de software na UniAmerica</p>
        </div>
    </main>

    <%- include("../partials/footer"); %>          <!-- Inclui um EJS externo -->
</body>
</html>